.Testimonials {
  background-image: url("./bg5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .title {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    color: white;
    text-transform: capitalize;
  }
  .container {
    top: 60%;
    transform: translateY(-50%);

    .testi {
      margin: 5rem 0;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
      p {
        width: 850px;
        max-width: 100%;
        line-height: 1.5;
        margin: 0 auto 1rem;
        color: white;
      }
      h4 {
        color: white;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .Testimonials {
    height: 100vh;
    .title {
      font-size: 1.5rem;
    }
    .container {
      top: 20%;
      transform: translateY(0);
      .testi {
        p {
          font-size: 12px;
          width: 350px;
        }
      }
    }
  }
}
