* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-weight: normal;
  user-select: none;
}

:root {
  --green-color: #679509;
  --gray-color: #505050;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.title {
  text-align: center;
  font-family: "Pacifico", sans-serif;
  font-size: 2.5rem;
  color: var(--gray-color);
}
