@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

:root {
  --main-color: #679509;
  --second-color: #505050;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.title {
  text-align: center;
  font-family: "Pacifico", sans-serif;
  font-size: 2.5rem;
  color: var(--second-color);
}
