.LBlogs {
  margin: 5rem 0;
  .container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .blog {
      text-align: center;
      img {
        max-width: 550px;
      }
      h3 {
        font-size: 17px;
        font-weight: bold;
        padding-top: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .LBlogs {
    .container {
      justify-content: center;
    }
  }
}
